.modal-carrinho{
    background-color: #B10005;
    color: #fff;
}

/* .modal-content {
   height: 500px;
   width: 500px;
}

.modal-header {
  
}

.modal-tittle {
    margin-left: 130px;
    font-family: 'Times New Roman', Times, serif;
} */
